@model IEnumerable<FinalYear.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pageTitle = "Products";


}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/_delete.js"></script>
<script src="~/Scripts/_Detail.js"></script>
<script src="~/Scripts/_CreateScript.js"></script>
@*<ul class="nav nav-tabs card-header-tabs " id="mytab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Catagory</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">sub catagory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pro-tab" data-toggle="tab" href="#pro" role="tab" aria-controls="pro" aria-selected="false">ProductDetail</a>
        </li>
    </ul>*@
@*<div class="tab-content" id="mytabcontent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="card-body">



                @Html.Partial("_Product")
            </div>
        </div>


        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card-body">

                @Html.Partial("~/Views/categories/_index.cshtml")
            </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="card-body">

                @Html.Partial("~/Views/Subcategories/_index.cshtml")
            </div>
        </div>
        <div class="tab-pane fade" id="pro" role="tabpanel" aria-labelledby="pro-tab">
            <div class="card-body">

                @Html.Partial("~/Views/ProDetail/_ListProDetail.cshtml")
            </div>
        </div>

    </div>*@

<ul class="nav nav-tabs" id="myTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">SubCategory</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">ProductDetail</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab"></div>
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab"></div>
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab"></div>
    <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab"></div>
</div>

<script>
    $(document).ready(function () {
        var target = 'tab';

        $.ajax({
            type: "GET",
            url: "/ManageStock/TabList",
            data: { tab: target },
            success: function (data) {

                $(target).html(data);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });

</script>

<script>
    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href");

            $(target).html("");
            if (!$(target).html().trim().length) {
                $.ajax({
                    type: "GET",
                    url: "/ManageStock/TabList",
                    data: { tab: target },
                    success: function (data) {


                        $(target).html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }
        });
    });

</script>
