@model IEnumerable<FinalYear.Models.PurchaseOrderMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pageTitle = "Purchase Management";

}


<ul class="nav nav-tabs card-header-tabs " id="mytab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Purchase</a>
    </li>

</ul>
<div class="tab-content" id="mytabcontent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card-body">
            @*<button href="#" class="acreate btn " data-url="/purchases/_create" data-bs-toggle="model" data-target="#myModal"><i class="fa-solid fa-plus"></i></button>*@

            <button class="btn " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa-solid fa-plus"></i>
            </button>
            <div class="collapse" id="collapseExample">

                @Html.Partial("_create")

            </div>
            @Html.Partial("_List")
        </div>
    </div>


    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="card-body">

            @*@Html.Partial("~/Views/categories/_index.cshtml")*@
        </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="card-body">

            @*@Html.Partial("~/Views/Subcategories/_index.cshtml")*@
        </div>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/_delete.js"></script>
<script src="~/Scripts/_Detail.js"></script>
<script src="~/Scripts/_CreateScript.js"></script>

<script>
        $(document).ready(function () {
        });


    $("#product__").change(function () {

            var url = "@Url.Content("~/purchases/cmb")";

        $.getJSON(url, { name: $("#product__").val() }, function (data) {
            $("#ProductType").empty();
            $("#ProductType").append("<option disabled selected hidden>Select your option</option>");
            $.each(data, function (index, optionData) {

                    var option = "<option value=" + optionData.ProId + ">" + optionData.ProductType + "</option>";
                    $("#ProductType").append(option);
                });
            })


        });
    $("#ProductType").change(function () {

            var url = "@Url.Content("~/purchases/pro")";

        $.getJSON(url, { name: $("#ProductType").val(), type: $("#ProductType").children("option").filter(":selected").text()}, function (data) {
            $("#ProductUnit").empty();
            $("#ProductUnit").append("<option disabled selected hidden>Select your option</option>");
                $.each(data, function (index, optionData) {
                    var option = "<option value=" + optionData.PDId + ">" + optionData.ProductUnit + "</option>";
                    console.log(option);
                    $("#ProductUnit").append(option);
                });
            })
            });



</script>


