@model FinalYear.Models.PredictedValue

<div class="card text-white bg-danger mb-3" style="max-width: 30rem;">
    @if (ViewBag.predicted != null)
    {<div class="card-header">@ViewBag.predicted.type</div>
    <div class="card-body">

        <h4>Predicted Values</h4>

        <p>@ViewBag.predicted.Predictions</p>
        
    </div>}
</div>
