@model FinalYear.Models.summary

    <div class="card text-white bg-danger mb-3" style="max-width: 30rem;">
        <div class="card-header">Linear Regression</div>
        <div class="card-body">
            @if (ViewBag.EvaluationResult != null)
            {
            <p>
                @ViewBag.EvaluationResult
            </p>

            }
        </div>
    </div>