@model FinalYear.Models.category


<form action="@Url.Action("Create","categories")" method="post" id="catform">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <label class = "control-label col-md-2">Catagory</label>
            <div class="col-md-10">
                <input type="text" name="Catname" value=""  minlength="3" required="" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="submit_btn" />
            </div>
        </div>
    </div>
</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $("#catform").validate({
            rules: {
                Catname: {
                    required: true,
                    minlength: 3
                },

            },
            messages: {
                Catname: {
                    minlength: "bnda bn ja characters"
                },

            }

        });
    });
</script>