<div class="card card-body">
    <p>
        <button class="anchorDetail btn  btn-lg" data-url="/categories/_Create" data-bs-toggle="model" data-target="#myModal"><i class="fa-solid fa-plus"></i></button>
    </p>
    <table class="display compact" id="example1">
        <thead>
            <tr>
                <th>CatagoryName</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.list)
            {
                <tr>
                    <td>
                        @item.Catname
                    </td>
                    <td>
                        <button href="#" class="anchorDetail btn  btn-sm" data-url="/categories/Edit" data-id="@item.CatID" data-bs-toggle="model" data-target="#myModal"><i class="fa-solid fa-pen-to-square"></i></button>

                        <button class="anchorDetail btn  btn-sm" data-url="/categories/Details" data-id="@item.CatID" data-bs-toggle="model" data-target="#myModal"><i class="fa-solid fa-circle-info"></i></button>
                        @*<button id="Delete" data-url="/categories/DeleteConfirmed/" data-id="@item.CatID" class="btn btn-danger btn-sm">Delete</button>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#example1').DataTable();
    });
</script>

<script src="~/Scripts/_CreateScript.js"></script>
<script src="~/Scripts/_delete.js"></script>
<script src="~/Scripts/_Detail.js"></script>

