
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pageTitle = "Sales Analysis";
    var image = ViewBag.Data;

}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery-3.6.1.js"></script>
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>

<!-- Include Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Include Bootstrap Datepicker library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <input id="date_picker1" required value="01/01/2020" width="150" class="form-control" name="startDate" />
                    </div>
                    <div class="col-2">
                        <input id="date_picker2" required value="12/25/2023" width="150" class="form-control" name="endDate" />
                    </div>
                    <div class="col-3">
                        <select class="form-control" required name="type" id="typeselect">
                            <option>Weekly</option>
                            <option>Monthly</option>
                            <option>Yearly</option>

                        </select>
                    </div>
                    <div class="col "><button class="btn btn-outline-success" id="save" type="submit">Submit</button></div>
                </div>
                <br />
                <br />
                <div id="result"></div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">

    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">

                <div class="" id="partialview-container"></div>
                <div id="page-overlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(255,255,255,0.5); z-index:1050;"></div>
                <div id="spinner" class="spinner-grow" style="width: 3rem; height: 3rem; display:none;position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:1051;" role="status">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "GetVs",
            beforeSend: function () {
                $('#page-overlay').show();
                $('#spinner').show();
            },
            success: function (data) {
                $('#page-overlay').hide();
                $('#spinner').hide();
                $('#partialview-container').html(data);

            },
            error: function (xhr, status, error) {

                $('#page-overlay').hide();
                $('#spinner').hide();
                $('#partialview-container').html(error);
            }

        });
    });
</script>



<!-- daterangepicker JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script>
    $(document).ready(function () {
        $('#date_picker1').datepicker();

        $('#date_picker2').datepicker();
    });
</script>
<script>
    var url = '@Url.Action("show", "Account")';
$('#save').click(function() {
    var startDates = $('#date_picker1').val();
    var endDates = $('#date_picker2').val();
    var types = $('#typeselect').val();

    if (Date.parse(startDates) < Date.parse(endDates)) {
        $('#result').load(url, { startDate: startDates, endDate: endDates, type: types });
    }
    else {

        alert("Invalid Date Range");
    }

})
</script>

@*<script>
        $(document).ready(function () {

            $("#save").click(function () {
                $.ajax({
                    url: 'http://192.168.67.116:105/getalls',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        startDate: $("#date_picker1").val()
                        /*endDate: $("#EndDatePicker").val() */}
    ,
                    success: function (data, textStatus, xhr) {
                        console.log(data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                    }
                });
            });
        });
    </script>*@
